<div *ngIf="!loggedIn">
  <!-- <input [(ngModel)]="username" name="login" type="text" placeholder="Username" /> -->
  <!-- <button type="button" (click)="submit()">Login</button> -->
  <script src="node_modules/rosefire/dist/js/rosefire-angular.min.js"></script>
  <div >
    <h1>The Compile.io App</h1>
    <hr>
    <p>
      This is the Rose-Hulman Compile.io App
    </p>
  </div>
  <button type="submit" (click)="login()">Sign In</button>
</div>
<div *ngIf="loggedIn">
  <div *ngIf="finalGroup == 'STUDENT'">
    <app-user-page [username]="finalUsername">
    </app-user-page>
  </div>
  <div *ngIf="finalGroup == 'PROFESSOR'">
    <app-professor-page [username]="finalUsername">
    </app-professor-page>
  </div>
  <div *ngIf="finalGroup == 'ADMIN'">
    <app-professor-page [username]="finalUsername">
    </app-professor-page>
  </div>
</div>
