<div *ngIf="!loggedIn">
  <!-- <input [(ngModel)]="username" name="login" type="text" placeholder="Username" /> -->
  <!-- <button type="button" (click)="submit()">Login</button> -->
  <script src="node_modules/rosefire/dist/js/rosefire-angular.min.js"></script>
  <div >
    <h1>The Compile.io App</h1>
    <hr>
    <p>
      This is the Rose-Hulman Compile.io App
    </p>
  </div>
  <button type="submit" (click)="login()">Sign In</button>
</div>
<div *ngIf="loggedIn">
  <div>
    <app-user-page [username]="finalUsername"
                   [group]="finalGroup"
                   [name]="finalName">
    </app-user-page>
  </div>
  
</div>
