<div *ngIf="selectedResult == null">
  <table>
    <tr>
      <td>
        <h2>
          Submission:
        </h2>
      </td>
      <td>
        <input type="file" accept=".jar" (change)="fileUpload($event)" placeholder="Upload file..." />
      </td>
      <td>
        <div *ngIf="uploading">
          <span>
            Uploading ...
          </span>
        </div>
      </td>
      <td>
        <div *ngIf="fileReady">
          <button type="button" (click)="run()">Run!</button>
        </div>
      </td>
      <td>
        <div *ngIf="error !== ''">
          <span>
            {{error.message}}
          </span>
        </div>
      </td>
    </tr>
  </table>
  <button type="button" (click)="getResults()">REFRESH RESULTS</button>
  <div *ngFor="let res of results">
    <span>
      {{res}}
    </span>
  </div>
</div>

<div *ngIf="selectedResult != null">
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>HOW MANY TESTS PASSED</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>OUTPUT FROM TEST</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1>RETURN BUTTON</h1>
        </div>
      </div>
    </div>
  </div>
</div>




