<div *ngIf="selectedResult == null">
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <input type="file" class="custom-file-input" #fileUpload id="fileUpload" (change)="fileUploadFunction($event)">
        <label *ngIf="fileUpload.files.length == 0" class="custom-file-label" for="fileUpload">Select File</label>
        <label *ngIf="fileUpload.files.length != 0" class="custom-file-label" for="fileUpload">{{fileUpload.files[0].name}}</label>
      </div>
      <div class="col">
        <button *ngIf="fileUpload.files.length == 0" type="button" disabled (click)="run()">Run!</button>
        <button *ngIf="fileUpload.files.length != 0" type="button" (click)="run()">Run!</button>
      </div>
    </div>
    <div *ngFor="let res of results" class="row">
      <div class="col">
        <span>
          {{res}}
        </span>
      </div>
    </div>
  </div>
</div>


<div *ngIf="selectedResult != null">
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>HOW MANY TESTS PASSED</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1>OUTPUT FROM TEST</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h1>RETURN BUTTON</h1>
        </div>
      </div>
    </div>
  </div>
</div>




