<div class="container w-100 d-block">
  <div class="row">
    <div class="col">
      <div class="p-3 w-100 d-block" style="height: 100px">
        <h1 class="float-left">
          {{class | uppercase}}
        </h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <form class="w-50 p-3 border">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="nameText">Name</label>
                <input type="text" class="form-control" id="nameText" aria-describedby="nameHelp" placeholder="Hmk1">
                <small id="nameHelp" class="form-text text-muted float-left">Try not to make the name so large as to overflow the sidebar.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="timeoutText">Timeout (s)</label>
                <input type="number" class="form-control" id="timeoutText" aria-describedby="timeoutHelp" placeholder="5">
                <small id="timeoutHelp" class="form-text text-muted float-left">How much time to spend running a test before timing out.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check p-3">
                <div class="container">
                  <div class="row">
                    <div class="col-2">
                      <label class="form-check-label float-left" for="visibleCheck">Visible</label>
                    </div>
                    <div class="col-1">
                      <input type="checkbox" class="form-check-input float-left" id="visibleCheck" aria-describedby="visibleHelp">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <small id="visibleHelp" class="form-text text-muted float-left">If the homework is visible to students.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="custom-file float-left p-3">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
