<div>
  <table>
    <tr>
      <td>
        <h2>
          New Test:
        </h2>
      </td>
      <td>
          <form>
              <input type="radio" name="language" (change)="changeType('Java')" value="Java">Java<br>
              <input type="radio" name="language" (change)="changeType('Python')" value="Python">Python<br>
              runtime (between 1 minute to 5 minutes):<input type="number" name="run_time" min="1" max="5"><br>
              <input type="file" accept=".jar" (change)="fileUpload($event)" placeholder="Upload file..." />
            </form>
      </td>
      <td>
        <div *ngIf="uploading">
          <span>
            Uploading ...
          </span>
        </div>
      </td>
      <td>
        <div *ngIf="fileReady">
          <span>Done Uploading!</span>
        </div>
      </td>
      <td>
        <div *ngIf="error !== ''">
          <span>
            {{error.message}}
          </span>
        </div>
      </td>
    </tr>
  </table>
  <button type="button" (click)="getTests()">REFRESH RESULTS</button>
  <div *ngFor="let res of results">
    <span>
      {{res}}
    </span>
  </div>
</div>
