<div class="container w-100 d-block">
  <div class="row justify-content-center mt-2">
    <div class="col">
      <form #form="ngForm" ngNativeValidate (ngSubmit)="submitForm(form.value)" class="w-100 p-3">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left">Name</label>
                <input  type="text" class="form-control" name="nameText" #nameText placeholder="Hmk1" [(ngModel)]="newAssignment.assignmentName" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left">Timeout (s)</label>
                <input type="number" class="form-control" name="timeoutText" #timeoutText [(ngModel)]="newAssignment.timeout"  placeholder="5"  required>
                <small class="form-text text-muted float-left">How much time to spend running a test before timing out.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left">Max Size (Mbs)</label>
                <input type="number" class="form-control" name="maxText" #maxText [(ngModel)] = "newAssignment.size" placeholder="5"  required> 
                <small class="form-text text-muted float-left">How large student uploads can be in MegaBites.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left">Start Date</label>
                <input type="date" class="form-control" name="startDate" #startDate [(ngModel)] = "givenStartDate"  required>
                <small class="form-text text-muted float-left">What Date Students can start submitting to this assignment.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left">Start Time</label>
                <input type="time" class="form-control" name="startTime" #startTime [(ngModel)] = "newAssignment.startTime"  required>
                <small class="form-text text-muted float-left">What Time Students can start submitting to this assignment.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left">End Date</label>
                <input type="date" class="form-control" name="endDate" #endDate [(ngModel)] = "givenEndDate" required>
                <small class="form-text text-muted float-left">What Date Students can no longer submit to this assignment.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left">End Time</label>
                <input type="time" class="form-control" name="endTime" #endTime [(ngModel)] = "newAssignment.endTime" required>
                <small class="form-text text-muted float-left">What Time Students can no longer submit to this assignment.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left">Number of tries</label>
                <input type="number" min="0" class="form-control" name="triesText" #triesText [(ngModel)] = "newAssignment.tries" placeholder="5" required>
                <small class="form-text text-muted float-left">How many times a student can submit an assignment. 0 for infinite</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label>Language</label>
                <select multiple class="form-control" name="languageSelect" #languageSelect ngModel required > 
                  <option>Java</option>
                  <option>Python</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="custom-file float-left p-3">
                <!-- <div *ngIf="newAssignment.assignmentName == undefined && assignmentInfo.id == '-1'">
                  <input disabled type="file" class="custom-file-input" (change)="fileUploadFunction($event)" #fileUploadDisable id="fileUpload">
                  <label *ngIf="fileUploadDisable.files.length == 0" class="custom-file-label" for="fileUploadDisable">Select File</label>
                  <label *ngIf="fileUploadDisable.files.length != 0" class="custom-file-label" for="fileUploadDisable">{{this.file.name}}</label>
                </div> -->
                <div>
                  <input type="file" class="custom-file-input" (change)="fileUploadFunction($event)" #fileUpload id="fileUpload">
                  <label *ngIf="file == undefined" class="custom-file-label" for="fileUpload">Select File</label>
                  <label *ngIf="file != undefined" class="custom-file-label" for="fileUpload">{{file.name}}</label>
                </div>
                <!-- <div *ngIf="assignmentInfo.id != '-1'">
                  <input type="file" class="custom-file-input" (change)="fileUploadFunction($event)" #fileUploadChange id="fileUpload">
                  <label *ngIf="fileUploadChange.files.length == 0" class="custom-file-label" for="fileUploadChange">Select File</label>
                  <label *ngIf="fileUploadChange.files.length != 0" class="custom-file-label" for="fileUploadChange">{{fileUploadChange.files[0].name}}</label>
                </div> -->
              </div>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary" (click)="downloadFileButtonPress()">Download</button>
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <button type="submit" class="btn btn-primary">Submit</button>
              <!--<button *ngIf="readyToSubmit()" type="submit" class="btn btn-primary" (click)="submit()">Submit</button>

              <button *ngIf="!readyToSubmit()" disabled type="submit" class="btn btn-primary" (click)="submit()">Submit</button>-->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

