<div class="container w-100 d-block">
  <div class="row justify-content-center mt-2">
    <div class="col">
      <form class="w-100 p-3">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="nameText">Name</label>
                <input *ngIf="newHwk" type="text" class="form-control" #nameText id="nameText" aria-describedby="nameHelp" placeholder="Hmk1" (blur)="newAssignment.assignmentName=nameText.value" required>

                <input *ngIf="!newHwk" type="text" class="form-control" #nameText id="nameText" value={{homework}} aria-describedby="nameHelp" placeholder="Hmk1" (blur)="newAssignment.assignmentName=nameText.value" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="timeoutText">Timeout (s)</label>
                <input *ngIf="newHwk" type="number" class="form-control" #timeoutText id="timeoutText" aria-describedby="timeoutHelp" (change)="newAssignment.timeout=timeoutText.value" placeholder="5" required>

                <input *ngIf="!newHwk" type="number" class="form-control" #timeoutText id="timeoutText" aria-describedby="timeoutHelp" value={{timeout}}  (change)="newAssignment.timeout=timeoutText.value" placeholder="5" required>
                <small id="timeoutHelp" class="form-text text-muted float-left">How much time to spend running a test before timing out.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="maxText">Max Size (Mbs)</label>
                <input type="number" class="form-control" #maxText id="maxText" aria-describedby="maxHelp" placeholder="5"  (change)="newAssignment.size=maxText.value" required> 
                <small id="maxHelp" class="form-text text-muted float-left">How large student uploads can be in MegaBites.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left" for="startDate">Start Date</label>
                <input type="date" class="form-control" #startDate id="startDate" aria-describedby="startDateHelp"  (change)="newAssignment.startDate=startDate.value" required>
                <small id="startDateHelp" class="form-text text-muted float-left">What Date Students can start submitting to this assignment.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left" for="startTime">Start Time</label>
                <input type="time" class="form-control" #startTime id="startTime" aria-describedby="startTimeHelp"   (change)="newAssignment.startTime=startTime.value" required>
                <small id="startTimeHelp" class="form-text text-muted float-left">What Time Students can start submitting to this assignment.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left" for="endDate">End Date</label>
                <input type="date" class="form-control" #endDate id="endDate" aria-describedby="endDateHelp"  (change)="newAssignment.endDate=endDate.value" required>
                <small id="endDateHelp" class="form-text text-muted float-left">What Date Students can no longer submit to this assignment.</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label class="float-left" for="endTime">End Time</label>
                <input type="time" class="form-control" #endTime id="endTime" aria-describedby="endTimeHelp"  (change)="newAssignment.endTime=endTime.value" required>
                <small id="endTimeHelp" class="form-text text-muted float-left">What Time Students can no longer submit to this assignment.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group p-3">
                <label class="float-left" for="triesText">Number of tries</label>
                <input *ngIf="newHwk" type="number" min="0" class="form-control" #triesText id="triesText" aria-describedby="triesHelp" placeholder="5"  (change)="newAssignment.tries=triesText.value" required>

                <input *ngIf="!newHwk" type="number" min="0" class="form-control" #triesText id="triesText" aria-describedby="triesHelp" placeholder="5" (change)="newAssignment.tries=triesText.value" required>
                <small id="triesHelp" class="form-text text-muted float-left">How many times a student can submit an assignment. 0 for infinite</small>
              </div>
            </div>
            <div class="col">
              <div class="form-check p-3">
                <label for="language">Language</label>
                <select multiple class="form-control" #languageSelect id="language"  (change)="newAssignment.language=languageSelect.value.toLowerCase()" required>
                  <option>Java</option>
                  <option>Python</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="custom-file float-left p-3">
                <input type="file" class="custom-file-input" (change)="fileUploadFunction($event)" #fileUpload id="fileUpload">
                <label *ngIf="fileUpload.files.length == 0" class="custom-file-label" for="fileUpload">Select File</label>
                <label *ngIf="fileUpload.files.length != 0" class="custom-file-label" for="fileUpload">{{fileUpload.files[0].name}}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col p-3">
              <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
