.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.sidebarHover:hover {
  background-color: black;
}
.red {
  background-color: rgb(136,0,0);
}
.gray {
  background-color: rgb(173, 171, 172);
}

.hwkDiv {
  background-color: rgb(173, 171, 172);
}
.icon {
  width: 30px;
  height: 30px;
}
.redBorder {
  border-width: 20px;
  border-color: rgb(136,0,0);
  border-style: solid;
}
