<div class="mw-100 red text-light noselect p-3">
  <h1>
    Compile.IO
  </h1>
</div>


<div class="container-fluid ">
  <div class="row">
    <nav class="sidebar vh-100 w-25 mw-100 blackText gray redBorder col-2">
      <div class="container noselect">
        <div class="row">
          <div class="col  w-100 p-3">
            <h3 class="noselect">
              <span>
                {{username | uppercase}}
              </span>
              <img src="./assets/open-iconic/svg/account-logout.svg" alt="logout" (click)="logout()" class="icon btn" data-toggle="tooltip" data-placement="bottom" title="Logout" />
            </h3>
          </div>
        </div>
        <div *ngFor="let cl of classes" class="row">
          <div class="w-100">
            <div class="w-100 sidebarHover p-3" (click)="selectClass(cl)">
              <span>
                {{cl}}
              </span>
              <img src="./assets/open-iconic/svg/caret-left.svg" *ngIf="selectedClass == cl && selectedHomework == hwk" alt="left" class="smicon" />
            </div>
            <div class="container" *ngIf="selectedClass == cl">
              <div class="row" *ngFor="let hwk of homeworks" (click)="selectHomework(hwk)">
                <div *ngIf="selectedHomework == hwk" class="col p-2 sidebarHover w-50">
                  <span>
                    {{hwk}}
                  </span>
                  <img src="./assets/open-iconic/svg/caret-left.svg" alt="left" class="smicon" />
                </div>
                <div *ngIf="selectedHomework != hwk" class="col p-2 sidebarHover w-50 ">
                  <span>
                    {{hwk}}
                  </span>
                </div>
              </div>
              <div class="row" *ngIf="group == 'PROFESSOR' || group == 'ADMIN'" (click)="selectHomework('new')">
                <div class="col p-2 sidebarHover w-50">
                  <img src="./assets/open-iconic/svg/plus.svg" alt="left" class="smicon" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <div *ngIf="selectedHomework == null && selectedClass == null" class="col  redBorder">

    </div>


    <div *ngIf="selectedHomework == null && selectedClass != null" class="col  redBorder mw-100">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="p-3 w-100">
              <h1 class="float-left">
                {{selectedClass | uppercase}}
              </h1>
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let hwk of homeworks" (click)="selectHomework(hwk)">
          <div *ngIf="selectedHomework != hwk" class="col p-2 sidebarHover w-50 ">
            <span>
              {{hwk}}
            </span>
          </div>
        </div>
        <div class="row" *ngIf="group == 'PROFESSOR' || group == 'ADMIN'" (click)="selectHomework('new')">
          <div class="col p-2 sidebarHover w-50">
            <img src="./assets/open-iconic/svg/plus.svg" alt="left" class="smicon" />
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="selectedHomework == 'new'" class="col  redBorder mw-100">
      <app-change-homework [className] ="selectedClass"
                           [userName] = "username"
                           [newHwk] = "trueBoolean"></app-change-homework>
    </div>


    <div *ngIf="selectedHomework != null && selectedHomework != 'new'" class="col  redBorder mw-100">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="p-3 w-100">
              <h1 class="float-left">
                {{selectedClass | uppercase}} - {{selectedHomework | uppercase}}
              </h1>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="group == 'PROFESSOR' || group == 'ADMIN'">
          <div class="col">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" role="tab" aria-controls="runPage" aria-selected="false" (click)="changeChange(false)">Run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" role="tab" aria-controls="changePage" aria-selected="true" (click)="changeChange(true)">Change</a>
              </li>
            </ul>
            <!--<ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" (click)="changeChange(false)">Run</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" (click)="changeChange(true)">Change</a>
              </li>
            </ul>-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!--<app-change-homework *ngIf="change"
                               [givenClass]="selectedClass"
                               [homework]="selectedHomework">
            </app-change-homework>-->
            
            <div class="tab-content show active" id="myTabContent">

              <app-homework-page id="runPage"
                                 *ngIf="!change"
                                 [username]="username"
                                 [givenClass]="selectedClass"
                                 [homework]="selectedHomework">
              </app-homework-page>
              <app-change-homework id="changePage" *ngIf="change"
                                 [userName]="username"
                                 [className]="selectedClass"
                                 [hwkName]="selectedHomework"
                                 [newHwk] ="falseBoolean">
              </app-change-homework>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
