
.buttondiv {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: lightgray;
  /*border: 0.15em solid #CCCCCC;*/
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Segoe UI','Roboto',sans-serif;
  font-weight: 400;
  font-size: 20pt;
  color: #000000;
  background-color: #CCCCCC;
  text-align: center;
  position: relative;
  padding: 1em;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  border-radius: 0.25em;
}
.outerdiv:hover {
  background-color: gray;
}
.innerdiv {
  background-color: gray;
  /*border: 0.25em solid gray;*/
  box-sizing: border-box;
  padding: 0;
  font-size: 15pt;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
} 
.innerdiv:hover {
  background-color: #CCCCCC;
}
table {
  width: 100%;
}
.innertable {
  margin-top: 1em;
  margin-bottom: 1em;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h1 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: left;
  float: left;
  color: white;
  font-family: 'Segoe UI','Roboto',sans-serif;
}

.h1div {
  width: 100%;
  background-color: rgb(36,41,46);
  display: inline-block;
}

.back {
  margin-right: 5%;
  text-align: right;
  float: right;
}
.back:hover {
  color: #CCCCCC;
}

