<div>
  <div *ngIf="selectedCode == null" class="container">
    <div class="row rowHover noselect" *ngFor="let assign of sectionInfo.assignments" (click)="selectCode(assign)">
      <div class="col">
        <h3>
          {{assign.assignmentName}}
        </h3>
      </div>
      <div class="col">
        <h3> - </h3>
      </div>
      <div class="col">
        <div *ngFor="let cd of studentInfo.codes">
          <div *ngIf="cd.assignmentId == assign.id">
            <h3>
              {{cd.grade}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedCode != null" class="container">
    <div class="row">
      <div class="col">
        <h1>
          {{selectedCode.assignmentName}}
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>User: {{selectedCode.userName}}</span>
      </div>
      <div class="col">
        <span>Grade: {{selectedCode.grade}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>Filename: {{selectedCode.fileName}}</span>
      </div>
      <div class="col">
        <span>Number of submissions: {{selectedCode.submissionAttempts}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>Submission time: {{selectedCode.submisstionTime}}</span>
      </div>
      <div class="col">
        <span>Runtime: {{selectedCode.runTime}}</span>
      </div>
    </div>
    <div class="row" *ngFor="let testResponse of selectedCode.testResponses">
      <div class="col">
        <span>{{testResponse}}</span>
      </div>
    </div>
    <button class="btn btn-primary" (click)="unselectCode()">Close</button>
  </div>
</div>


