<div class="container">
  <div class="row">
    <div class="col">
      <h1 *ngIf="sectionInfo.useCourseDescription">{{courseInfo.description}}</h1>
      <h1 *ngIf="!sectionInfo.useCourseDescription">{{sectionInfo.description}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="gradesBoolean()">Grades</button>
    </div>
  </div>
  <div class="row" *ngIf="grades && studentInfo != null">
    <div class="col">
      <app-grades-page [studentInfo]="studentInfo"
                       [sectionInfo]="sectionInfo">
      </app-grades-page>
    </div>
  </div>
</div>
