ul {
  list-style-type: none;
  padding: 10pt;
  text-align: center;
}
li {
  padding: 10pt;
}
div {
  text-align: center;
}

h1 {
  font-size: 72px;
}
.button {
  padding: 10pt;
  margin: 10pt;
}
button {
  margin: 20pt;
}
